<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>CRUDServlet</servlet-name>
        <servlet-class>crud.CRUDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CRUDServlet</servlet-name>
        <url-pattern>/CRUDServlet</url-pattern>
    </servlet-mapping>
</web-app>
